<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/input.js"></script>
    <script type="text/javascript" src="/javascripts/game.js"></script>
</head>

<body onload="bodyload()" style="text-align:center;">
    <input type="hidden" id="player-left" value="true" />
    <input type="hidden" id="player-color" value="#f00" />
    <div id="ContentDiv" style="position:relative;margin:15px auto;width:750px;">
        <div id="GameContentDiv"><canvas id="canvas"></canvas></div>
    </div>
</body>

</html>