<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to ProjectS Online</h1>
    <form>
      <input required name="name" />
      <input required code="code" />
      <input type="submit" name="submit" value="Join" />
    </form>
  </body>
</html>
